.sidebar {
  width: 400px;
}

.tab-button {
  padding: 5px 10px;
  min-width: 100px;
  border-radius: 20px;
}

.no-active {
  border: 1px solid #222;
}

.container {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.bordered {
}

.bordered th {
  border: 1px solid #222;
  padding: 10px;
}

.bordered td {
  border: 1px solid #222;
  padding: 5px 10px;
}

.operation {
  width: 65px;
}

.first {
  text-align: left;
}

.autocomplete {
  position: relative;
}

.options {
  position: absolute;
  top: 84px;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 300px;
  border: 1px solid #222;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: flex-start;
}
