.navbar {
  gap: 40px;
  height: 60px;
  width: 100%;
  display: flex;
  padding: 0 10rem;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.left {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  transition: all 500ms ease;
}

.toggle {
  display: none;
}

.right {
  gap: 20px;
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}

.links {
  gap: 20px;
  width: 100%;
  overflow: hidden;
  transition: all 500ms ease;
}

/* sm */
@media (max-width: 800px) {
  .toggle {
    display: flex;
  }
  .links {
    display: none;
  }
}

/* md */
@media (max-width: 1000px) {
  .navbar {
    padding: 0 20px;
  }
}

@media (min-width: 900px) {
}

/* lg */
@media (max-width: 1200px) {
  .navbar {
    padding: 0 40px;
  }
}

/* xl */
@media (max-width: 1536px) {
}

.active {
  border-radius: 25px;
}
