.notification {
  width: 300px;
  border: 1px solid #8080804a;
  pointer-events: auto !important;
  @apply relative rounded-2xl p-5;
}

.notification button {
  @apply absolute top-1 right-2;
}

.notification button svg {
  @apply text-white;
}

.notification h4 {
  @apply text-sm text-white;
}

.back {
  @apply fixed left-1 bottom-1 z-40;
}

.info {
  @apply bg-info;
}

.warning {
  @apply bg-warning;
}

.success {
  @apply bg-success;
}

.error {
  @apply bg-error;
}

.canClick {
  pointer-events: auto;
}

.noClick {
  pointer-events: none;
}

.appear {
  animation: appear 0.5s ease 1;
}

.disappear {
  animation: disappear 0.5s ease 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
